.content {
  margin: 1rem;
}

.form {
  margin-bottom: 1em;
}

.input {
  margin-left: 1rem;
}

.steps {
  text-align: left;
  max-width: 300px;
  margin: 0.5rem;
}

.button {
  margin-left: 1rem;
}

.error {
  color: red;
}

.grid {
  display: flex;
}
